<fieldset class="nested-fields">
  <div class="field">
    <%= f.label :name, class: "control-label" %>
    <div class="dec-input-wrapper">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :importance, class: "control-label" %>
    <div class="dec-input-wrapper">
      <%= f.number_field :importance, class: "form-control" %>
    </div>
  </div>
  <%= link_to_remove_association 'remove criterium', f %>
</fieldset>
