<%= form_for @matrix, url: wizard_path do |f| %>
  <%= render 'layouts/errors', object: @matrix %>

  <%= yield f %>

  <div class="actions dec-after-form">
    <div class="col-sm-12">
      <%= f.submit 'Continue', class: 'btn, btn-success btn-lg btn-block'%>
      or <%= link_to "skip this step", next_wizard_path %>
    </div>
  </div>
<% end %>
