<th>
  <div class="col-sm-9">
    <%= sort_options "criterium_score", criterium_id: criterium.id,
                     title: criterium.name  %>
    <div class="table-subheading">
      Weight: <%= criterium.weight %>
    </div>
  </div>
  <div class="col-sm-3">
    <% if view == 'edit' %>
      <%= link_to edit_matrix_criterium_path(@matrix, criterium),
                  id: "edit-criterium-#{criterium.id}",
                  class: 'btn-circle' do %>
        <%= fa_stacked_icon "pencil inverse", base: "circle" %>
      <% end %>
      <%= link_to matrix_criterium_path(@matrix, criterium),
                  data: { confirm: 'You sure?',
                          method: 'delete'},
                  id: "delete-criterium-#{criterium.id}",
                  class: 'btn-circle' do %>
        <%= fa_stacked_icon "times inverse", base: "circle" %>
      <% end %>
    <% end %>
  </div>
</th>
