<div class="table-responsive">
  <table class="table table-hover table-bordered dec-matrix">
    <thead>
      <tr>
        <th rowspan="2">
          <%= sort_options 'name', title: 'Options' %>
          <% if view == 'edit' %>
            <%= link_to new_matrix_option_path(@matrix),
                        id: 'new-option',
                        class: 'btn-circle' do %>
              <%= fa_icon 'plus' %>
            <% end %>
          <% end %>
        </th>
        <% unless view == 'edit' %>
          <th rowspan="2">
            <%= sort_options 'total_score', title: 'Total Scores'  %>
          </th>
        <% end %>
        <th colspan="<%= criteria_count %>">
          Criteria
          <% if view == 'edit' %>
            <%= link_to new_matrix_criterium_path(@matrix),
                        id: 'new-criterium',
                        class: 'btn-circle' do %>
              <%= fa_icon 'plus' %>
            <% end %>
          <% end %>
        </th>
      </tr>
      <tr>
        <%= render @criteria, view: view %>
      </tr>
    </thead>
    <tbody>
      <%= render @options, view: view %>
    </tbody>
  </table>
</div>

<% if view == 'edit' %>
  <%= form_tag @matrix, method: 'get', id: 'params-to-send' do %>
    <%= hidden_field_tag :sort_options_by, options_sort_method %>
    <%= hidden_field_tag :options_direction, options_sort_direction %>
    <% if params[:sort_by_criterium] %>
      <%= hidden_field_tag :sort_by_criterium, params[:sort_by_criterium] %>
    <% end %>
    <%= submit_tag 'View Your Results!', name: nil, class: 'btn btn-block btn-lg btn-primary', id: 'view-results' %>
  <% end %>
<% else %>
  <% if current_matrix_owner? %>
    <%= form_tag edit_matrix_path(@matrix), method: 'get', id: 'params-to-send' do %>
      <%= hidden_field_tag :sort_options_by, options_sort_method %>
      <%= hidden_field_tag :options_direction, options_sort_direction %>
      <% if params[:sort_by_criterium] %>
        <%= hidden_field_tag :sort_by_criterium, params[:sort_by_criterium] %>
      <% end %>
      <%= submit_tag 'Edit matrix', name: nil, id: 'edit-matrix' %>
    <% end %>
  <% else %>
    <p>
      Read only. Log in as the matrix owner to edit.
    </p>
  <% end %>
<% end %>
