<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th rowspan="2">
          <%= sort_options 'name', 'Options' %>
          <% if view == 'edit' %>
            <%= link_to new_matrix_option_path(@matrix),
                        id: 'new-option',
                        class: 'btn-circle' do %>
              <%= fa_icon 'plus' %>
            <% end %>
          <% end %>
        </th>
        <% unless view == 'edit' %>
          <th rowspan="2">
            <%= sort_options 'total_score', 'Total Scores'  %>
          </th>
        <% end %>
        <th colspan="<%= criteria_count %>">
          Criteria
          <% if view == 'edit' %>
            <%= link_to new_matrix_criterium_path(@matrix),
                        id: 'new-criterium',
                        class: 'btn-circle' do %>
              <%= fa_icon 'plus' %>
            <% end %>
          <% end %>
        </th>
      </tr>
      <tr>
        <%= render @criteria, view: view %>
      </tr>
    </thead>
    <tbody>
      <%= render @options, view: view %>
    </tbody>
  </table>
</div>
