<% header "#{@matrix.name}" %>

<% content_for :header_buttons do %>
  <a id='show-matrix-form' data-toggle="collapse" href="#editMatrixName" aria-expanded="false" aria-controls="editMatrixName" class="btn-circle">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </a>
  <%= link_to copy_matrix_path(@matrix), class: "btn-circle", data: { confirm: 'Please confirm you would like to copy this matrix', method: 'post' } do %>
    <i class="fa fa-copy" aria-hidden="true"></i>
  <% end %>
<% end %>

<%= render 'layouts/progress', percent: 90 %>

<div class="collapse" id="editMatrixName">
  <%= render 'form', edit: true %>
</div>

<h5><b>Rate Your Options</b></h5>
<div class="dec-form-description">
  Select a rating for every criterium/option intersection. Percentages next to criteria reflect the weight that will be applied to ratings in that criterium.
</div>

<div id="matrix">
  <%= render 'matrix', view: 'edit' %>
</div>

<%= link_to 'View Your Results!', @matrix, class: 'btn btn-block btn-lg btn-primary', id: 'view-results' %>
