<% header "#{@matrix.name}" %>

<%= render 'layouts/progress', percent: 90 %>

<ul class="list-inline">
  <li><%= link_to 'Copy this Matrix', copy_matrix_path(@matrix), data: { confirm: 'Please confirm you would like to copy this matrix', method: 'post' } %></li>
  <li>
    <a id='show-matrix-form' data-toggle="collapse" href="#editMatrixName" aria-expanded="false" aria-controls="editMatrixName">
      Edit details
    </a>
  </li>
</ul>

<div class="collapse" id="editMatrixName">
  <%= render 'form', edit: true %>
</div>

<h5><b>Rate Your Options</b></h5>
<div class="dec-form-description">
  Select a rating for every criterium/option intersection. Percentages next to criteria reflect the weight that will be applied to ratings in that criterium.
</div>

<div id="matrix">
  <%= render 'matrix', view: 'edit' %>
</div>

<%= link_to 'View Your Results!', @matrix, class: 'btn btn-block btn-lg btn-primary', id: 'view-results' %>
