<% header @matrix.name %>

<%= render 'layouts/progress', percent: 100 %>

<%= render 'layouts/errors', object: @matrix %>

<div class="dec-form-description">
  <% if current_matrix_owner? %>
    <%= link_to 'Edit this matrix', edit_matrix_path(@matrix), id: 'edit-matrix' %>
  <% else %>
    <p>
      Read only. Log in as the matrix owner or <%= link_to 'copy this matrix', copy_matrix_path(@matrix), data: { confirm: 'Please confirm you would like to copy this matrix', method: 'post' } %> to edit.
    </p>
  <% end %>
</div>

<% if @matrix.winner? %>
  <h5><b>Winning Option:</b> <%= @matrix.winner_name %></h5>
  <% if current_matrix_owner? %>
    <p>
      If you agree with this choice, you have made a decision! If not, re-evaulate your rankings, criteria, and criteria weighting.
    </p>
  <% end %>
<% else %>
  <% if @matrix.tie? %>
    <h5>We have a tie!</h5>
    <% if current_matrix_owner? %>
      <p>
        Please re-evaulate your rankings, criteria, and criteria weighting.
      </p>
    <% end %>
  <% end %>
<% end %>

<div id="matrix">
  <%= render 'matrix', view: 'show' %>
</div>
