<h1><%= @matrix.name %></h1>

<%= link_to new_matrix_criterium_path(@matrix), id: 'new-criterium',
                                       class: 'btn btn-small btn-primary' do %>
  Add Criterium
<% end %>

<%= link_to edit_matrix_path(@matrix), id: 'edit-matrix',
                                       class: 'btn btn-small btn-warning' do %>
  Edit <%= @matrix.name %>
<% end %>

<%= link_to matrix_path(@matrix), data: { confirm: 'You sure?',
                                          method: 'delete'},
                                  class: 'btn btn-small btn-danger' do %>
  Delete <%= @matrix.name %>
<% end %>
