<tr>
  <td><%= option.name %>
    <% if view == 'edit' %>
      <div>
        <%= link_to edit_matrix_option_path(@matrix, option),
                    id: "edit-option-#{option.id}",
                    class: 'btn-circle' do %>
          <%= fa_stacked_icon "pencil inverse", base: "circle" %>
        <% end %>
        <%= link_to matrix_option_path(@matrix, option),
                    data: { confirm: 'You sure?',
                            method: 'delete'},
                    id: "delete-option-#{option.id}",
                    class: 'btn-circle' do %>
          <%= fa_stacked_icon "times inverse", base: "circle" %>
        <% end %>
      </div>
    <% end %>
  </td>
  <% @criteria.each do |criterium| %>
    <td>
      <% if view == 'edit' %>
        <%= render 'scores/form', criterium: criterium, option: option %>
      <% else %>
        <%= option.criterium_score(criterium) %>
      <% end %>
    </td>
  <% end %>
</tr>
