<tr>
  <td><%= option.name %>
    <% if view == 'edit' %>
      <div>
        <%= link_to edit_matrix_option_path(@matrix, option),
                    id: "edit-option-#{option.id}",
                    class: 'btn-circle' do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        <%= link_to matrix_option_path(@matrix, option),
                    data: { confirm: 'You sure?',
                            method: 'delete'},
                    id: "delete-option-#{option.id}",
                    class: 'btn-circle' do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      </div>
    <% else %>
      <% if @matrix.winning_options.include? option %>
        <div class="collapse dec-result" id="winner">
          <% if @matrix.tie? %>
            <i class="fa fa-question fa-2x dec-tie" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-check fa-2x dec-winner" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </td>
  <% unless view == 'edit' %>
    <td class="dec-table-score">
      <div class="dec-table-score-weighted">
        <%= option.total_score %>
      </div>
    </td>
  <% end %>
  <% @criteria.each do |criterium| %>
    <td class="dec-table-score">
      <% if view == 'edit' %>
        <%= render 'scores/form', criterium: criterium, option: option %>
      <% else %>
        <div class="dec-table-score-weighted">
          <%= option.weighted_criterium_score(criterium) %>
        </div>
        <div>
          <%= option.criterium_score(criterium) %>
          <% unless option.criterium_score_description(criterium).blank? %>
            : <%= option.criterium_score_description(criterium) %>
          <% end %>
        </div>
      <% end %>
    </td>
  <% end %>
</tr>
